# While Loop

In [1]:
i = 1

while i <= 10:
    print("Himanshu")
    i += 1            # i = i + 1

Himanshu
Himanshu
Himanshu
Himanshu
Himanshu
Himanshu
Himanshu
Himanshu
Himanshu
Himanshu

In [ ]:
1
2
3
4
5
6
7
8
9
10

In [2]:
i = 1

while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [3]:
print("Hello\nWorld")

Hello
World

In [4]:
print("Hello")
print("World")

Hello
World

In [5]:
print("Hello", end="")
print("World")

HelloWorld

In [6]:
"10" + "abc"

'10abc'

In [7]:
print("Hello", end="@@")
print("World")

Hello@@World

In [8]:
print("Hello", end="\n")
print("World")

Hello
World

In [9]:
print("Hello", end=" ")
print("World")

Hello World

In [ ]:
1  2  3  4  5  6  7  8  9  10

In [10]:
i = 1

while i <= 10:
    print(i, end="  ")
    i += 1

1  2  3  4  5  6  7  8  9  10

In [11]:
a = 10
print(a * 5)
print(a)

50
10

**WAP to print following output.**

In [ ]:
1  4  9  16  25  36  49  64  81  100

In [12]:
i = 1

while i<=10:
    print(i*i, end="  ")
    i += 1

1  4  9  16  25  36  49  64  81  100

In [ ]:
1+2+3+4+5+6+7+8+9+10

In [13]:
i = 1

while i<=10:
    print(i, end="+")
    i += 1

1+2+3+4+5+6+7+8+9+10+

In [14]:
i = 1

while i<=10:
    if i < 10:
        print(i, end="+")
    else:
        print(i)
    i += 1

1+2+3+4+5+6+7+8+9+10

In [ ]:
1/1  2/4  3/9  4/16  5/25  6/36  7/49  8/64  9/81  10/100

# break statement

In [15]:
i = 1

while i <= 10:
    if i == 5:
        print("Hi")
        break
    print(i)
    i += 1

1
2
3
4
Hi

# continue statement

In [16]:
i = 0

while i<=10:
    i += 1
    if i%2 == 0:
        continue
    else:
        print(i)      # 1  3

1
3
5
7
9
11

**WAP to enter 5 numbers from user and print them.**

In [17]:
i = 1

while i<=5:
    a = int(input("Enter a number: "))
    print("Your Number is:", a)
    i += 1

Enter a number: 10
Your Number is: 10
Enter a number: 20
Your Number is: 20
Enter a number: 30
Your Number is: 30
Enter a number: 40
Your Number is: 40
Enter a number: 50
Your Number is: 50

**WAP to enter 5 numbers from user and print sum of them.**

In [ ]:
0 + 10 + 20 + 30
s

In [1]:
i = 1
s = 0

while i <= 5:
    a = int(input("Enter a number: "))
    s = s + a     # 0, 10, 30, 60, 100, 150
    i += 1

print("Sum =", s)

Enter a number: 10
Enter a number: 20
Enter a number: 30
Enter a number: 40
Enter a number: 50
Sum = 150

**WAP to enter a number from user and print reverse of it.**

153

351

In [ ]:
153 %  10 - 3
153 // 10 - 15

15 %  10 - 5
15 // 10 - 1

1  % 10 - 1
1  // 10 - 0

In [10]:
n = int(input("Enter a number: "))

while n > 0:               # n = 153, 15, 1
    r = n % 10             # r = 3, 5, 1
    print(r, end="")       # 351
    n = n // 10            # n = 15, 1, 0

Enter a number: 153
351

**WAP to enter number from user and print sum of its individual digits**

153

1 + 5 + 3

9

In [4]:
n = int(input("Enter a number: "))
s = 0

while n > 0:               # n = 153, 15, 1
    r = n % 10             # r = 3, 5, 1
    s = s + r              # s = 0, 3, 8, 9
    n = n // 10            # n = 15, 1, 0

print("Sum =", s)

Enter a number: 153
Sum = 9

### Reverse of a number

In [13]:
n = int(input("Enter a number: "))
s = 0

while n > 0:               # n = 153, 15, 1
    r = n % 10             # r = 3, 5, 1
    s = s * 10 + r         # s = 0, 3, 35, 351
    n = n // 10            # n = 15, 1, 0

print("Reverse =", s)

Enter a number: 153
Reverse = 351

**WAP to enter a number from user and check if it is palindrome or not**

153  -  351

121  -  121

In [18]:
n = int(input("Enter a number: "))
temp = n
s = 0

while n > 0:               # n = 153, 15, 1
    r = n % 10             # r = 3, 5, 1
    s = s * 10 + r         # s = 0, 3, 35, 351
    n = n // 10            # n = 15, 1, 0

if s == temp:
    print("Palindrome")
else:
    print("Non Palindrome")

Enter a number: 153
Non Palindrome

**WAP to enter a number from user and check if it armstrong or not.**

153 - cube(1) + cube(5)  + cube(3) - 153

370 - 27 + 343 + 0 - 370

371

In [20]:
n = int(input("Enter a number: "))
temp = n
s = 0

while n > 0:               # n = 153
    r = n % 10             # r = 3, 5, 1
    s = s + r*r*r          # s = 0, 27, 152, 153
    n = n // 10            # n = 15, 1

if s == temp:
    print("Armstrong")
else:
    print("Non Armstrong")

Enter a number: 123
Non Armstrong

**WAP to enter a number from user and print its individual digits on seperate line.**

153

1

5

3